<!DOCTYPE html>
<html>
<head>
    <title>写博客</title>
    #parse("sys/header.html")
    <link rel="stylesheet" type="text/css" href="${rc.contextPath}/statics/css/summernote.css"/>
    <link rel="stylesheet" type="text/css" href="${rc.contextPath}/statics/css/summernote-bs2.css"/>
    <link rel="stylesheet" type="text/css" href="${rc.contextPath}/statics/css/summernote-bs3.css"/>
</head>
<body>
<div id="blog-add" class="container" v-cloak>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">博客标题</div>
            <div class="col-md-10">
                <input type="text" class="form-control" v-model="blog.title" placeholder="博客标题"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">博客摘要</div>
            <div class="col-md-10">
                <input type="text" class="form-control" v-model="blog.summary" placeholder="博客摘要"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">博客类型</div>
            <div class="col-md-10 dropdown">

                        <select class="form-control" v-model="blog.type_id">
                            <option value="1">原创</option>
                            <option value="2">转载</option>
                            <option value="3">翻译</option>
                        </select>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">博客内容</div>
            <div class="col-md-10">
                <div id="summernote">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 control-label"></div>
            <input type="button" style="margin-top: 50px" class="btn btn-primary" @click="save" value="发表"/>
            <input type="button" style="margin-top: 50px;margin-left: 100px" class="btn btn-warning" @click="reload" value="清空"/>
        </div>


    </form>
</div>
</body>

<script type="text/javascript" src="${rc.contextPath}/statics/libs/summernote.js"></script>
<script type="text/javascript" src="${rc.contextPath}/statics/plugins/summernote/lang/summernote-zh-CN.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/blog/addBlog.js"></script>

</html>